* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* common */
#container {
    width: 60%;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
} 

body {
    font-family: 'Montserrat', sans-serif;
}

.color-text {
    color: #BEBEBE;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    }
    
 /* / common */

/* header  */
 #logo img {
     height: 60px;
     padding-right: 20px;
     border-right: 1px solid #dbdada;
 }

 nav {
     margin: 30px 0;
 }

 ul li {
    display: inline;
    text-transform: none;
    text-transform: uppercase;
 }

 ul li a {
    display: inline;
    color: #B7B7B7;
    text-decoration: none;
    padding-right: 10px;
 }
 /* / header */

/* inizio main top */
.main-top {
    position: relative;
    margin: 20px 0;
    height: 500px;
}

.main-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.main-top-text {
    position: absolute;
    left: 50px;
    bottom: 70px;
    color: white;
}

.main-top-text :first-child {
    font-size: 29px;
}

.main-top-text :last-child {
    font-size: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
}
/* fine inizio main top */

/* inizio main-bottom */
.main-bottom {
    height: 500px;
}

.head {
    width: 100%;
    height: 100px;
    padding-top: 40px;
}

h2 {
    font-size: 35px;
}
.sidebar,
.center {
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

.sidebar {
    position: relative;
    width: 20%;
    padding: 15px 0;
}

.img-sidebar {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}   

.foto-2 {
    margin: 15px 0 267px 0;
}

.center {
    position: relative;
    width: calc(60% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
}

#img-center {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}  

.foto-3 {
    margin: 15px 15px 381px 15px;
}

.foto-4 {
    margin: 15px 0 286px 0;
}
/* fine main bottom */


/* footer  */
footer{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#red {
    color: red;
    font-size: 30px;
}
/* / footer */

